<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="./index.html">
            <strong class="blue-text">MindCerpt</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="index.html">Home
                      <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#about-us">About MindCerpt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="blog.html">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#contact-us">Contact Us</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/mindcerpt" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.twitter.com/mindcerpt" class="nav-link waves-effect" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <div class="md-form mt-0">
                            <div class="waves-input-wrapper waves-effect waves-light" style="display: block;">
                                <input class="form-control mr-sm-2" type="text" placeholder=" Search Stories" aria-label="Search" style="display: inline;">
                                <a href="#" class="nav-link waves-effect" style="display: inline;"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->