<!--Card-->
<div class="card card-cascade narrower item fiction">

    <!--Card image-->
    <div class="view overlay">
        <img src="/assets/img/sample.jpg" class="img-fluid" alt="Material Design for Bootstrap - example photo">
        <a>
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body">
        <h5 class="pink-text">
            <i class="fa fa-link pull-left"> Category</i>
            <i class="fa fa-clock-o pull-right"> Time</i>
        </h5><br>
        <!--Title-->
        <h4 class="card-title">Story Title</h4>
        <!--Text-->
        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
        <a href="post-single.html" class="btn btn-primary waves-effect waves-light">Read More 
                        <i class="fa fa-play ml-2"></i>
                    </a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->